@using CodeQuizQuestionsEntryForm
@using CodeQuizQuestionsEntryForm.Code
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="twitter:card" content="summary">
    <meta property="fb:app_id" content="581121635273738" />
    <meta property="og:title" content="Code 2013 コードクイズ問題募集" />
    <meta property="og:description" content="涼しい北海道の温泉ホテルに8月3日から1泊2日で、北海道の美味い宴会料理を喰らいつつ、コードを書きまくれ!言語・プラットフォーム問わないプログラマ向け泊まり込みイベント「Code2013 in 定山渓」の、コードクイズコーナーで出題するクイズ問題を募集中!" />
    <meta property="og:url" content="@Url.AppUrl()" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="@Url.AppUrl()/Content/images/Code2013Logo_300x300.png" />
    <meta name="keywords" content="Code 2013,CodeJP" />
    <meta name="description" content="8月3日から1泊2日で北海道定山渓で開催のプログラマ向けイベント Code 2013 の、コードクイズコーナーで出題するクイズ問題を募集中!" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/favicon.png" rel="icon" type="image/png" />
    <title>@ViewBag.Title - @Localize.SiteTitle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Localize.SiteTitle, "Index", "Home", null, new { @class = "brand" })
                <div class="nav-collapse collapse">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <section id="source">
                <h4>source code</h4>
                <p><a href="https://github.com/codejp/CodeQuizQuestionsEntryForm" target="_blank" class="github">https://github.com/codejp/CodeQuizQuestionsEntryForm</a></p>
            </section>

            <section id="hosting">
                <h4>hosted by</h4>
                <p><a href="https://appharbor.com/" target="_blank" class="appharbor">AppHarbor</a></p>
            </section>
            <section id="social">
                <iframe allowtransparency="true" frameborder="0" scrolling="no"
                        src="@("https://platform.twitter.com/widgets/tweet_button.html?text=" + HttpUtility.UrlEncode(Localize.TweetText).Replace("+", "%20") + "&url=" + Url.Encode(Url.AppUrl()))"
                        style="width:100px; height:21px;"></iframe>
                <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fcodequizquestionsentryform.apphb.com%2F&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=581121635273738" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowtransparency="true"></iframe>
            </section>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
